body{
    margin:0px;
    background-color: #49a6b3;
}
.header{
    background-color:#96704E;
    flex-direction: column;
    justify-content: space-evenly;
}
h4,h2{
    background-color:#F1F3CE;
    text-align: center;
}
.grid{
    flex-direction: column;
    justify-content: space-evenly;
}
.grid img{
    border: 2px solid #F62A00;
    border-radius: 50px;
}
.menu{
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #F1F3CE;
}
.origami{
    border-radius: 20px;
    background-color: #F1F3CE;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}
a:link{
    color:#00293C
}
a:visited{
    color:#49a6b3
}
.origami:hover{
    transform: scale(1.2);
}